<div *ngIf="task" class="task"> 
    <h3> {{ task.name }} </h3> 
    <span  [contentEditable]="isEditing" (blur)="saveTaskName()"> {{ task.description }} </span>
    <span> {{ task.state }}  </span>
    <form action=""> 
        <input type="checkbox" name="state" id="state" [(ngModel)]="isChecked"  (click)="changeState()" [ngStyle]="{'background-color': isChecked === true ? 'green' : 'red'}" />
    </form>

    <button class="btn-task btn-edit"  (click)="editTask()">
        <span class="material-symbols-outlined">
            edit_note
        </span>
    </button>
    <button class="btn-task btn-delete" (click)="deleteTask()" >
        <span class="material-symbols-outlined">
            delete_forever
            </span>
    </button>
    
</div>