<div class="navbar-tasks">
  <h2>Mis tareas</h2>
  <div class="dropdown">
    <button class="btn-orderby btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
      Ordenar
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <li><button class="dropdown-item" type="button">Mas vieja a mas nueva</button></li>
      <li><button class="dropdown-item" type="button">Mas nueva a mas vieja</button></li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn-orderby btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
      Filtrar
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <li><button class="dropdown-item" type="button">Mas vieja a mas nueva</button></li>
      <li><button class="dropdown-item" type="button">Mas nueva a mas vieja</button></li>
    </ul>
  </div>
</div>

